<nav class="blue-grey darken-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Monzofony</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/"><i class="fa fa-th-list" aria-hidden="true"></i></a></li>
            <li><a href="/map"><i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
            <li><a>{{ account_name }}</a></li>
            <li><a>£{{ balance }}</a></li>
            <li><a>£{{ spent_today }}</a></li>
        </ul>
    </div>
</nav>
